.homepage_body {
  flex-grow: 20;
}

.body_heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 1.5rem;
}

.heading_name {
  font-size: 1.5rem;
  font-weight: 500;
}

.scanned_date {
  font-size: 0.9rem;
  font-weight: 500;
  color: grey;
}

.price_card_container {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}
