.main_container {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem 3rem;
  border: 2px solid grey;
  border-radius: 0.8rem;
  padding: 2rem;
}

.table_heading {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.table_container {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dadada;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
}

.table_row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px solid #dadada;
}

.heading_item {
  display: flex;
  flex: 1;
  font-size: 14px;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
  background-color: #ececec;
  color: #3e3e3e;
  font-weight: bold;
  border-bottom: 2px solid grey;
}

.row_item {
  display: flex;
  flex: 1;
  font-size: 14px;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
}

.row_item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}

.row_sub_container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.row_sub_container .row_item {
  padding: 8px 0;
  border-bottom: 1px solid #dadada;
}

.table_row:last-child,
.row_sub_container .row_item:last-child {
  border-bottom: 0;
}
